@import '_reset';

$header-height: 80px;
$sidebar-width: 320px;

$wspt-colour1: rgb(233,131,0); // Orange
$wspt-colour2: rgb(213,43,30); // Red
$wspt-colour3: rgb(170,39,47); // DarkRed
$wspt-colour4: rgb(226,23,118); // Pink
$wspt-colour5: rgb(149,45,152); // Violet
$wspt-colour6: rgb(0,158,224); // Cyan
$wspt-colour7: rgb(0,70,173); // Blue
$wspt-colour8: rgb(122,184,0); // Lime
$wspt-colour9: rgb(0,175,63); // Green
$wspt-colour10: rgb(0,105,60); // DarkGreen
$wspt-colour11: rgb(108,77,35); // Brown

/* Components */
@import 'components/_calendar';
@import 'components/_map';

@import 'components/_sidebar';
@import 'components/_header';
@import 'components/_offcanvas';

/* Elements */
@import 'elements/_button';
@import 'elements/_navigation-bar';
@import 'elements/_form';
@import 'elements/_typography';

* {
  box-sizing: border-box;
  font-family: 'FF Meta', 'Open Sans', sans-serif;
}

body {
  font-family: 'FF Meta', 'Open Sans', sans-serif;
}

.container {
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

/* Main */
.main {
  height: 100vh;
  height: calc(100vh - #{$header-height});
  width: 80%;
  width: calc(100% - #{$sidebar-width});
  float: left;
  background: #0d1739;
  background: linear-gradient(to bottom, #142252 0%, #142252 100%);
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
  	background-color: #17265a;
  }

  &::-webkit-scrollbar {
  	width: 10px;
  	background-color: #17265a;
  }

  &::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  	background-color: #FFF;
  }
}

.main--area {
  padding: 20px 40px;
  padding: 1.25rem 2.5rem;
  width: 100%;
}

/* Fading */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
