@charset "UTF-8";
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Components */
.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0; }

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled].rbc-btn {
  cursor: not-allowed; }

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Calendar */
.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit; }

.rbc-abs-full {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.rbc-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rbc-rtl {
  direction: rtl; }

.rbc-off-range {
  color: #b3b3b3; }

.rbc-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0; }
  .rbc-header > a, .rbc-header > a:active, .rbc-header > a:visited {
    color: inherit;
    text-decoration: none; }

.rbc-row-content {
  position: relative;
  user-select: none;
  z-index: 4; }

.rbc-today {
  background-color: #eaf6ff; }

.rbc-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px; }
  .rbc-toolbar .rbc-toolbar-label {
    width: 100%;
    padding: 0 10px;
    text-align: center; }
  .rbc-toolbar button {
    color: #373a3c;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border: 1px solid #ccc;
    padding: .375rem 1rem;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap; }
    .rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
      background-image: none;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      background-color: #e6e6e6;
      border-color: #adadad; }
      .rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
        color: #373a3c;
        background-color: #d4d4d4;
        border-color: #8c8c8c; }
    .rbc-toolbar button:focus {
      color: #373a3c;
      background-color: #e6e6e6;
      border-color: #adadad; }
    .rbc-toolbar button:hover {
      color: #373a3c;
      background-color: #e6e6e6;
      border-color: #adadad; }

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap; }
  .rbc-btn-group > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .rbc-btn-group > button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .rbc-btn-group > button:not(:first-child):not(:last-child) {
    border-radius: 0; }
  .rbc-btn-group button + button {
    margin-left: -1px; }
  .rbc-rtl .rbc-btn-group button + button {
    margin-left: 0;
    margin-right: -1px; }
  .rbc-btn-group + .rbc-btn-group,
  .rbc-btn-group + button {
    margin-left: 10px; }

.rbc-event {
  cursor: pointer;
  padding: 2px 5px;
  background-color: #3174ad;
  border-radius: 5px;
  color: #fff; }
  .rbc-event.rbc-selected {
    background-color: #265985; }

.rbc-event-label {
  font-size: 80%; }

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5); }

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.rbc-row {
  display: flex;
  flex-direction: row; }

.rbc-row-segment {
  padding: 0 1px 1px 1px; }

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1); }

.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
  white-space: nowrap; }

.rbc-month-view {
  position: relative;
  border: 1px solid #DDD;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  user-select: none;
  height: 100%; }
  .rbc-month-view .rbc-header {
    border-bottom: 1px solid #DDD; }
  .rbc-month-view .rbc-header + .rbc-header {
    border-left: 1px solid #DDD; }
  .rbc-rtl .rbc-month-view .rbc-header + .rbc-header {
    border-left-width: 0;
    border-right: 1px solid #DDD; }

.rbc-month-header {
  display: flex;
  flex-direction: row; }

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  overflow: hidden;
  height: 100%; }
  .rbc-month-row + .rbc-month-row {
    border-top: 1px solid #DDD; }

.rbc-date-cell {
  padding-right: 5px;
  text-align: right; }
  .rbc-date-cell.rbc-now {
    font-weight: bold; }
  .rbc-date-cell > a, .rbc-date-cell > a:active, .rbc-date-cell > a:visited {
    color: inherit;
    text-decoration: none; }

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden; }

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #DDD; }

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #DDD; }

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px; }
  .rbc-overlay > * + * {
    margin-top: 1px; }

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px; }

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto; }
  .rbc-agenda-view table {
    width: 100%;
    border: 1px solid #DDD; }
    .rbc-agenda-view table tbody > tr > td {
      padding: 5px 10px;
      vertical-align: top; }
    .rbc-agenda-view table .rbc-agenda-time-cell {
      padding-left: 15px;
      padding-right: 15px;
      text-transform: lowercase; }
    .rbc-agenda-view table tbody > tr > td + td {
      border-left: 1px solid #DDD; }
    .rbc-rtl .rbc-agenda-view table tbody > tr > td + td {
      border-left-width: 0;
      border-right: 1px solid #DDD; }
    .rbc-agenda-view table tbody > tr + tr {
      border-top: 1px solid #DDD; }
    .rbc-agenda-view table thead > tr > th {
      padding: 3px 5px;
      text-align: left;
      border-bottom: 1px solid #DDD; }
      .rbc-rtl .rbc-agenda-view table thead > tr > th {
        text-align: right; }

.rbc-agenda-time-cell {
  text-transform: lowercase; }
  .rbc-agenda-time-cell .rbc-continues-after:after {
    content: ' »'; }
  .rbc-agenda-time-cell .rbc-continues-prior:before {
    content: '« '; }

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap; }

.rbc-agenda-event-cell {
  width: 100%; }

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .rbc-time-column .rbc-timeslot-group {
    flex: 1; }

.rbc-timeslot-group {
  border-bottom: 1px solid #DDD;
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap; }

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none; }

.rbc-label {
  padding: 0 5px; }

.rbc-day-slot {
  position: relative; }
  .rbc-day-slot .rbc-event {
    border: 1px solid #265985;
    display: flex;
    max-height: 100%;
    flex-flow: column wrap;
    align-items: flex-start;
    overflow: hidden; }
  .rbc-day-slot .rbc-event-label {
    flex: none;
    padding-right: 5px;
    width: auto; }
  .rbc-day-slot .rbc-event-content {
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em; }
  .rbc-day-slot .rbc-time-slot {
    border-top: 1px solid #f7f7f7; }

.rbc-time-slot {
  flex: 1 0 0; }
  .rbc-time-slot.rbc-now {
    font-weight: bold; }

.rbc-day-header {
  text-align: center; }

.rbc-day-slot .rbc-event {
  position: absolute;
  z-index: 2; }

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  padding: 3px; }

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid #DDD;
  min-height: 0; }
  .rbc-time-view .rbc-time-gutter {
    white-space: nowrap; }
  .rbc-time-view .rbc-allday-cell {
    width: 100%;
    position: relative; }
  .rbc-time-view .rbc-allday-events {
    position: relative;
    z-index: 4; }
  .rbc-time-view .rbc-row {
    min-height: 20px; }

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column; }
  .rbc-time-header.rbc-overflowing {
    border-right: 1px solid #DDD; }
  .rbc-rtl .rbc-time-header.rbc-overflowing {
    border-right-width: 0;
    border-left: 1px solid #DDD; }
  .rbc-time-header > .rbc-row > * + * {
    border-left: 1px solid #DDD; }
  .rbc-rtl .rbc-time-header > .rbc-row > * + * {
    border-left-width: 0;
    border-right: 1px solid #DDD; }
  .rbc-time-header > .rbc-row:first-child {
    border-bottom: 1px solid #DDD; }
  .rbc-time-header .rbc-gutter-cell {
    flex: none; }
  .rbc-time-header > .rbc-gutter-cell + * {
    width: 100%; }

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid #DDD;
  overflow-y: auto;
  position: relative; }
  .rbc-time-content > .rbc-time-gutter {
    flex: none; }
  .rbc-time-content > * + * > * {
    border-left: 1px solid #DDD; }
  .rbc-rtl .rbc-time-content > * + * > * {
    border-left-width: 0;
    border-right: 1px solid #DDD; }
  .rbc-time-content > .rbc-day-slot {
    width: 100%;
    user-select: none; }

.rbc-current-time-indicator {
  position: absolute;
  z-index: 1;
  left: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none; }
  .rbc-current-time-indicator::before {
    display: block;
    position: absolute;
    left: -3px;
    top: -3px;
    content: ' ';
    background-color: #74ad31;
    border-radius: 50%;
    width: 8px;
    height: 8px; }
  .rbc-rtl .rbc-current-time-indicator::before {
    left: 0;
    right: -3px; }

.map {
  height: calc(100vh - 80px - 80px - 3rem); }

.sidebar {
  height: 100vh;
  height: calc(100vh - 80px);
  width: 20%;
  width: calc(320px);
  float: left;
  box-shadow: 0px 0px 20px rgba(71, 128, 168, 0.25);
  overflow: hidden;
  text-align: left; }
  @supports (display: flex) {
    .sidebar {
      display: flex;
      flex-direction: column; } }

.sidebar--area {
  padding: 20px;
  padding: 1.25rem;
  width: 100%; }

/* Sidebar Top */
.sidebar--top {
  box-shadow: 0px 0px 20px rgba(71, 128, 168, 0.125); }

/* Sidebar Middle */
/* Sidebar Bottom */
.sidebar--bottom {
  background: #3a4168;
  box-shadow: 0px 0px 20px rgba(71, 128, 168, 0.125); }
  @supports (display: flex) {
    .sidebar--bottom {
      margin-top: auto; } }

/* Filters */
.header {
  position: relative;
  background-color: #282c42;
  height: 80px;
  color: white;
  width: 100%; }
  @supports (display: flex) {
    .header {
      display: flex; } }

/* Logo */
.header--logo {
  width: 20%;
  width: calc(320px);
  padding: 10px;
  padding: 0.75rem;
  background-color: #3a4168; }

.header--logo img {
  display: block;
  max-height: 60px;
  margin: 0 auto; }

@supports (display: flex) {
  .header--controls {
    margin-left: auto; } }

/* Hamburger Menu Toggle */
.menu-btn {
  width: 80px;
  height: 80px;
  border: none;
  background: #3a4168; }

/* User Dropdown */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #304A5D;
  overflow: auto;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }
  .pushy a {
    display: block;
    color: #FFFFFF;
    padding: 20px;
    padding: 1.25rem;
    text-decoration: none;
    outline: 0;
    font-size: 24px;
    font-size: 1.5rem; }
  .pushy a:hover {
    background-color: #0493D8; }
  .pushy ul:first-child {
    margin-top: 10px; }
  .pushy.pushy-left {
    left: 0; }
  .pushy.pushy-right {
    right: 0; }

/* Menu Movement */
.pushy-left {
  padding-top: 60px;
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0); }

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0); }

.pushy-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0); }

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0); }

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.65s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Icon */ }
  .pushy-submenu ul {
    padding-left: 15px;
    transition: max-height 00.65s ease-in-out; }
    .pushy-submenu ul .pushy-link {
      transition: opacity 00.65s ease-in-out; }
  .pushy-submenu > a {
    position: relative; }
  .pushy-submenu > a::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform 00.65s; }

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden; }

.pushy-submenu-closed .pushy-link {
  opacity: 0; }

.pushy-submenu-open {
  /* Submenu Icon */ }
  .pushy-submenu-open ul {
    max-height: 1000px; }
  .pushy-submenu-open .pushy-link {
    opacity: 1; }
  .pushy-submenu-open a::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg); }

.no-csstransforms3d .pushy-submenu-closed ul {
  max-height: none;
  display: none; }

.pushy .close {
  cursor: pointer;
  border: none;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 0;
  background: rgba(0, 0, 0, 0.1);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }

.pushy .close:hover,
.pushy .close:focus {
  background: #0493D8; }

.pushy .close:focus {
  outline: none;
  box-shadow: 0px 0px 5px #0493D8; }

.pushy .close span.one {
  background-color: #FFFFFF;
  height: 16px;
  width: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -1px; }

.pushy .close span.two {
  background-color: #FFFFFF;
  height: 2px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -8px; }

/* Elements */
.button {
  display: block;
  width: 100%;
  padding: 20px;
  padding: 1.25rem;
  border: none;
  color: #FFF;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none; }

.button--schedule {
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 100%); }

.navigation-bar {
  height: 80px;
  background-color: #EFEFEF; }

.navigation-bar a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  padding: 0.75rem; }

.navigation-bar a.active {
  color: blue; }

label {
  color: currentColor;
  display: block;
  cursor: pointer; }

ul.optionset li {
  list-style: none;
  padding: 8px 0px;
  padding: 0.5rem 0rem;
  position: relative; }

.field.checkbox {
  position: relative; }

ul label,
.contact-options label,
.field.checkbox label {
  float: none;
  text-align: left;
  padding: 0 0 0 36px; }

input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  width: 26px;
  height: 26px;
  top: 50%;
  left: 0;
  margin-top: -13px;
  position: absolute;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Fake Box */
.radio-field label::before,
.checkbox-field label::before,
.field.checkbox label::before,
ul.optionset li label::before,
input[type="radio"],
input[type="checkbox"] {
  width: 26px;
  height: 26px;
  top: 50%;
  left: 0;
  margin-top: -13px;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box; }

.radio-field label::before,
.checkbox-field label::before,
.field.checkbox label::before,
ul.optionset li label::before {
  content: '';
  background: #FFF;
  border: 2px solid #052a4e;
  transition: opacity 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  border-radius: 50%; }

.field.checkbox label::before,
ul.optionset.checkboxset li label::before {
  border-radius: 3px; }

/* Tick or Marker */
input[type="checkbox"] + label svg,
input[type="radio"] + label svg {
  width: 22px;
  height: 22px;
  top: 50%;
  left: 2px;
  margin-top: -11px;
  position: absolute;
  cursor: pointer; }

input[type="checkbox"] + label svg {
  fill: none;
  stroke: #052a4e;
  stroke-width: 1.5px;
  stroke-dasharray: 10.746636390686035px;
  stroke-dashoffset: 10.746636390686035px;
  transition: 0.5s stroke-dashoffset ease; }

input[type="radio"] + label svg {
  fill: #052a4e;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s transform ease, 0.5s opacity ease; }

input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before,
input[type="checkbox"]:hover + label::before,
input[type="radio"]:hover + label::before {
  border-color: #29aae1;
  box-shadow: 0px 0px 3px rgba(41, 170, 225, 0.5);
  background-color: rgba(255, 255, 255, 0.15); }

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  border-color: #2ec72e; }

input[type="checkbox"]:checked + label svg {
  stroke-dashoffset: 0px; }

input[type="radio"]:checked + label svg {
  transform: scale(1);
  opacity: 1; }

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

body {
  font-family: 'Open Sans', sans-serif; }

.App {
  text-align: center; }

.App-intro {
  font-size: large; }

/* Main */
.main {
  height: 100vh;
  height: calc(100vh - 80px);
  width: 80%;
  width: calc(100% - 320px);
  float: left;
  overflow-y: scroll; }

.main--area {
  padding: 20px 40px;
  padding: 1.25rem 2.5rem;
  width: 100%; }
