@charset "UTF-8";
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Components */
.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0; }

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled].rbc-btn {
  cursor: not-allowed; }

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Calendar */
.rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #FFF; }

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  box-sizing: inherit; }

.rbc-abs-full {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.rbc-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.rbc-rtl {
  direction: rtl; }

.rbc-off-range {
  color: rgba(255, 255, 255, 0.5); }

.rbc-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90%;
  min-height: 0;
  background: #0046ad;
  color: #FFF; }
  .rbc-header > a, .rbc-header > a:active, .rbc-header > a:visited {
    color: inherit;
    text-decoration: none; }

.rbc-row-content {
  user-select: none;
  z-index: 4; }

.rbc-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }
  .rbc-toolbar .rbc-toolbar-label {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-size: 1.125rem; }
  .rbc-toolbar button {
    color: #FFF;
    display: inline-block;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    background: rgba(71, 128, 168, 0.1);
    border: none;
    background-image: none;
    padding: 8px 16px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    font-size: 0.875rem;
    outline: none; }
    .rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
      background-image: none;
      background-color: #009ee0;
      color: #FFF; }
      .rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
        background-color: #009ee0;
        color: #FFF; }
    .rbc-toolbar button:focus {
      background-color: #009ee0;
      color: #FFF; }
    .rbc-toolbar button:hover {
      background-color: #009ee0;
      color: #FFF; }

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap; }
  .rbc-btn-group > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .rbc-btn-group > button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .rbc-rtl .rbc-btn-group > button:first-child:not(:last-child) {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .rbc-rtl .rbc-btn-group > button:last-child:not(:first-child) {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .rbc-btn-group > button:not(:first-child):not(:last-child) {
    border-radius: 0; }
  .rbc-btn-group button + button {
    margin-left: 1px; }
  .rbc-rtl .rbc-btn-group button + button {
    margin-left: 0; }
  .rbc-btn-group + .rbc-btn-group,
  .rbc-btn-group + button {
    margin-left: 10px; }

.rbc-event {
  cursor: pointer;
  padding: 3px 5px;
  background-color: #0046ad;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-size: 0.85rem; }
  .rbc-event.rbc-selected {
    background-color: #00317a; }
  .rbc-event.typea-class {
    background-color: #e98300;
    background: linear-gradient(to bottom, #e98300 0%, #d07500 100%); }
    .rbc-event.typea-class:hover {
      background: #e98300; }
  .rbc-event.typeb-class {
    background-color: #009ee0;
    background: linear-gradient(to bottom, #009ee0 0%, #008cc7 100%); }
    .rbc-event.typeb-class:hover {
      background: #009ee0; }
  .rbc-event.typec-class {
    background-color: #e21776;
    background: linear-gradient(to bottom, #e21776 0%, #cb156a 100%); }
    .rbc-event.typec-class:hover {
      background: #e21776; }
  .rbc-event.typed-class {
    background-color: #00af3f;
    background: linear-gradient(to bottom, #00af3f 0%, #009636 100%); }
    .rbc-event.typed-class:hover {
      background: #00af3f; }

.rbc-event-label {
  font-size: 80%; }

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5); }

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.rbc-row {
  display: flex;
  flex-direction: row;
  /*
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  */ }

.rbc-row-segment {
  padding: 0 1px 1px 1px; }

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1); }

.rbc-show-more {
  background-color: white;
  z-index: 4;
  font-weight: bold;
  font-size: 12px;
  font-size: 0.75rem;
  height: auto;
  line-height: normal;
  white-space: nowrap;
  padding: 0px 5px;
  border-radius: 3px;
  text-decoration: none;
  color: #3C3EB3; }

.rbc-month-view {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  user-select: none;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(13, 23, 57, 0.35);
  color: #30417b;
  overflow: hidden;
  height: 100%; }
  .rbc-month-view .rbc-header {
    border-bottom: 1px solid #00317a; }
  .rbc-month-view .rbc-header + .rbc-header {
    border-left: 1px solid #00317a; }
  .rbc-rtl .rbc-month-view .rbc-header + .rbc-header {
    border-left-width: 0;
    border-right: 1px solid #00317a; }

.rbc-month-header {
  display: flex;
  flex-direction: row; }

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  overflow: hidden;
  height: 100%; }
  .rbc-month-row + .rbc-month-row {
    border-top: 1px solid #c4d0e2; }

.rbc-date-cell {
  padding: 10px;
  padding: 0.75rem;
  text-align: right; }
  .rbc-date-cell.rbc-now {
    font-weight: bold; }
  .rbc-date-cell > a, .rbc-date-cell > a:active, .rbc-date-cell > a:visited {
    color: inherit;
    text-decoration: none; }

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden; }

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #c4d0e2; }

.rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #c4d0e2; }

.rbc-overlay {
  position: absolute;
  z-index: 5;
  background-color: #142252;
  color: #FFF;
  border: 1px solid #e5e5e5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px; }
  .rbc-overlay > * + * {
    margin-top: 1px; }

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px; }

.rbc-agenda-view {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  overflow: auto; }
  .rbc-agenda-view::-webkit-scrollbar-track {
    background-color: #17265a; }
  .rbc-agenda-view::-webkit-scrollbar {
    width: 10px;
    background-color: #17265a; }
  .rbc-agenda-view::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0046ad; }
  .rbc-agenda-view table {
    width: 100%;
    border: 1px solid #c4d0e2; }
    .rbc-agenda-view table tbody > tr > td {
      padding: 12px;
      padding: 0.75rem;
      vertical-align: top; }
    .rbc-agenda-view table .rbc-agenda-time-cell {
      padding-left: 15px;
      padding-right: 15px;
      text-transform: lowercase; }
    .rbc-agenda-view table tbody > tr > td + td {
      border-left: 1px solid #c4d0e2; }
    .rbc-rtl .rbc-agenda-view table tbody > tr > td + td {
      border-left-width: 0;
      border-right: 1px solid #c4d0e2; }
    .rbc-agenda-view table tbody > tr + tr {
      border-top: 1px solid #c4d0e2; }
    .rbc-agenda-view table thead > tr > th {
      padding: 12px;
      padding: 0.75rem;
      text-align: left;
      border-bottom: 1px solid #c4d0e2; }
      .rbc-rtl .rbc-agenda-view table thead > tr > th {
        text-align: right; }

.rbc-agenda-time-cell {
  text-transform: lowercase; }
  .rbc-agenda-time-cell .rbc-continues-after:after {
    content: ' »'; }
  .rbc-agenda-time-cell .rbc-continues-prior:before {
    content: '« '; }

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap; }

.rbc-agenda-event-cell {
  width: 100%; }

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .rbc-time-column .rbc-timeslot-group {
    flex: 1; }

.rbc-timeslot-group {
  min-height: 40px;
  display: flex;
  flex-flow: column nowrap; }

.rbc-header-gutter,
.rbc-time-gutter {
  background-color: #0046ad;
  color: #FFF; }

.rbc-time-gutter .rbc-timeslot-group {
  border-left-color: #0046ad; }

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none; }

.rbc-label {
  padding: 0 5px;
  font-size: 14px;
  font-size: 0.875rem; }

.rbc-day-slot {
  position: relative; }
  .rbc-day-slot .rbc-event {
    border: 1px solid #192a6c;
    display: flex;
    max-height: 100%;
    flex-flow: column wrap;
    align-items: flex-start;
    overflow: hidden; }
  .rbc-day-slot .rbc-event-label {
    flex: none;
    padding-right: 5px;
    width: auto; }
  .rbc-day-slot .rbc-event-content {
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em; }
  .rbc-day-slot .rbc-time-slot {
    border-top: 1px solid #e6ebf3; }

.rbc-time-slot {
  flex: 1 0 0; }
  .rbc-time-slot.rbc-now {
    font-weight: bold; }

.rbc-day-header {
  text-align: center; }

.rbc-day-slot .rbc-event {
  position: absolute;
  z-index: 2; }

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  padding: 3px; }

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  background-color: #FFF;
  color: #30417b;
  min-height: 0; }
  .rbc-time-view .rbc-time-gutter {
    white-space: nowrap; }
  .rbc-time-view .rbc-allday-cell {
    width: 100%;
    position: relative; }
  .rbc-time-view .rbc-allday-events {
    position: relative;
    z-index: 4; }
  .rbc-time-view .rbc-row {
    min-height: 20px; }

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  border-bottom: 1px solid #00317a;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25); }
  .rbc-time-header.rbc-overflowing {
    border-right: 1px solid #c4d0e2; }
  .rbc-rtl .rbc-time-header.rbc-overflowing {
    border-right-width: 0;
    border-left: 1px solid #c4d0e2; }
  .rbc-time-header > .rbc-row > * + * {
    border-left: 1px solid #00317a; }
  .rbc-rtl .rbc-time-header > .rbc-row > * + * {
    border-left-width: 0;
    border-right: 1px solid #c4d0e2; }
  .rbc-time-header > .rbc-row:first-child {
    border-bottom: 1px solid #c4d0e2; }
  .rbc-time-header .rbc-gutter-cell {
    flex: none; }
  .rbc-time-header > .rbc-gutter-cell + * {
    width: 100%; }

.rbc-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  overflow-y: auto;
  position: relative; }
  .rbc-time-content::-webkit-scrollbar-track {
    background-color: #17265a; }
  .rbc-time-content::-webkit-scrollbar {
    width: 10px;
    background-color: #17265a; }
  .rbc-time-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0046ad; }
  .rbc-time-content > .rbc-time-gutter {
    flex: none; }
  .rbc-time-content > * + * > * {
    border-left: 1px solid #c4d0e2; }
  .rbc-rtl .rbc-time-content > * + * > * {
    border-left-width: 0;
    border-right: 1px solid #c4d0e2; }
  .rbc-time-content > .rbc-day-slot {
    width: 100%;
    user-select: none; }

.rbc-current-time-indicator {
  position: absolute;
  z-index: 1;
  left: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none; }
  .rbc-current-time-indicator::before {
    display: block;
    position: absolute;
    left: -3px;
    top: -3px;
    content: ' ';
    background-color: #74ad31;
    border-radius: 50%;
    width: 8px;
    height: 8px; }
  .rbc-rtl .rbc-current-time-indicator::before {
    left: 0;
    right: -3px; }

/* Brett */
.calendar {
  height: calc(100vh - 80px - 64px); }

.rbc-abs-full, .rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.map {
  height: calc(100vh - 80px - 64px); }

/* Map Header */
.map--header {
  color: #FFF;
  height: 32px;
  height: 2rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem; }
  @supports (display: flex) {
    .map--header {
      display: flex;
      justify-content: center; } }
  .map--header .breadcrumbs {
    font-size: 18px;
    font-size: 1.125rem; }
    @supports (display: flex) {
      .map--header .breadcrumbs {
        flex: 1 0 auto; } }
  .map--header .day {
    font-weight: bold;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 32px;
    line-height: 2rem;
    text-align: center; }
    @supports (display: flex) {
      .map--header .day {
        flex: 1 0 auto; } }
  .map--header .controls {
    text-align: right; }
    @supports (display: flex) {
      .map--header .controls {
        flex: 1 0 auto; } }
  .map--header button {
    color: #FFF;
    display: inline-block;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    background: rgba(71, 128, 168, 0.1);
    border: none;
    background-image: none;
    padding: 8px 16px;
    padding: 0.5rem 1rem;
    border-radius: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    font-size: 0.875rem;
    outline: none; }
    .map--header button.hover, .map--header button.active {
      background: #009ee0; }
  .map--header button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .map--header button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  .map--header button + button {
    margin-left: 1px; }

/* */
.map-area {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(13, 23, 57, 0.35);
  overflow: hidden; }
  @supports (display: flex) {
    .map-area {
      display: flex;
      justify-content: center;
      align-items: center; } }

.map-area svg {
  display: block;
  height: calc(100vh - 80px - 64px - 52px);
  width: 100%; }

.svg--area {
  fill: #94e392;
  stroke-linecap: round;
  cursor: pointer;
  stroke: #365b2f;
  stroke-width: 2px;
  transition: 0.5s fill ease, 0.5s stroke ease; }

.map-area svg g:hover .svg--area {
  fill: #00af3f;
  stroke: black; }

.map-area text {
  fill: #FFF;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s opacity ease; }

.map-area svg g:hover text {
  opacity: 1; }

.svg--shadow {
  opacity: 0;
  fill: rgba(0, 0, 0, 0.5);
  filter: url(#glow); }

/* Fade In Areas */
.map-area svg g {
  animation: fadeAreaIn 1s backwards ease; }

@keyframes fadeAreaIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.details:after {
  content: '';
  display: table;
  clear: both; }

.details hr {
  border: none;
  border-top: 1px solid #ececec;
  float: left;
  width: 100%;
  margin: 12px 0px;
  margin: 0.75rem 0rem; }

.details--field {
  float: left;
  width: 100%;
  margin: 12px 0px;
  margin: 0.75rem 0rem; }
  .details--field.half {
    width: 48.5%;
    margin-right: 3%; }
    .details--field.half.last {
      margin-right: 0; }
  .details--field.third {
    width: 31.333333%;
    margin-right: 3%; }
    .details--field.third.last {
      margin-right: 0; }

.details--answer {
  padding: 10px;
  padding: 0.75rem;
  background-color: #EFEFEF;
  border-radius: 3px;
  margin: 8px 0 0 0;
  margin: 0.5rem 0 0 0; }

.sidebar {
  height: 100vh;
  height: calc(100vh - 80px);
  width: 20%;
  width: calc(320px);
  float: left;
  box-shadow: 0px 0px 20px rgba(13, 23, 57, 0.75);
  overflow: hidden;
  text-align: left;
  position: relative;
  color: #3a4168; }
  .sidebar.with-top {
    padding-top: 102px; }
  .sidebar.with-bottom {
    padding-bottom: 88px; }

.sidebar--area {
  padding: 20px;
  padding: 1.25rem;
  width: 100%; }

/* Sidebar Top */
.sidebar--top {
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(82, 108, 203, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

/* Sidebar Middle */
.sidebar--main {
  height: 100%;
  overflow-y: scroll; }
  .sidebar--main::-webkit-scrollbar-track {
    background-color: #EFEFEF; }
  .sidebar--main::-webkit-scrollbar {
    width: 10px;
    background-color: #EFEFEF; }
  .sidebar--main::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #0046ad; }

.sidebar--content {
  padding: 12px;
  padding: 0.75rem; }

.sidebar--main h1 {
  color: #142252;
  font-weight: bold;
  font-size: 32px;
  font-size: 2rem;
  padding-bottom: 36px;
  padding-bottom: 2.25rem;
  position: relative; }
  .sidebar--main h1:after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 80px;
    height: 2px;
    background: linear-gradient(to right, #576fe6 0%, #9844b7 50%, #ff357f 100%);
    border-radius: 1px; }

.sidebar--main ul {
  margin-bottom: 20px;
  margin-bottom: 1.5rem; }

.sidebar--main h3:first-of-type {
  margin-top: 0; }

.sidebar--main h3 a {
  color: #3655CE;
  text-decoration: none; }

.sidebar--main h3 a:hover,
.sidebar--main h3 a:focus {
  color: #ff357f; }

/* Sidebar Bottom */
.sidebar--bottom {
  background-color: #FFF;
  box-shadow: 0px 0px 20px rgba(82, 108, 203, 0.35);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  @supports (display: flex) {
    .sidebar--bottom {
      margin-top: auto;
      display: flex; } }

/* Filters */
/* Map Sidebar */
.sidebar--map li {
  font-size: 12px;
  font-size: 0.75rem;
  margin: 10px 0;
  margin: 0.75rem 0; }

.sidebar--map li span {
  float: right;
  opacity: 0.5; }

.header {
  position: relative;
  background-color: #0046ad;
  height: 80px;
  color: white;
  width: 100%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 20px rgba(13, 23, 57, 0.35); }
  @supports (display: flex) {
    .header {
      display: flex; } }

/* Logo */
.header--logo {
  width: 20%;
  width: calc(320px);
  padding: 8px;
  padding: 0.5rem;
  background: #0050c7; }

.header--logo .tag {
  font-size: 14px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;
  display: none; }

.header--logo img {
  display: block;
  max-height: 64px;
  width: auto;
  margin: 0 auto; }

/* Hamburger Menu Toggle */
.menu-btn {
  width: 80px;
  height: 80px;
  border: none;
  background: #0050c7;
  cursor: pointer;
  position: relative;
  outline: none; }
  .menu-btn:hover, .menu-btn:focus {
    background: #005be0; }
  .menu-btn svg {
    display: block;
    width: 26.66667px;
    height: 26.66667px;
    stroke: #FFF;
    stroke-width: 0.75px;
    stroke-linecap: round;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13.33333px;
    margin-left: -13.33333px; }

/* User Dropdown */
.header--user {
  padding: 20px;
  line-height: 40px;
  padding-left: 60px;
  padding-right: 35px;
  position: relative;
  color: #FFF;
  font-size: 14px;
  font-size: 0.875rem;
  cursor: pointer; }
  .header--user:hover:after {
    border-top-color: #FFF; }
  .header--user:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent; }
  @supports (display: flex) {
    .header--user {
      margin-left: auto; } }
  .header--user .dropdown {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s opacity ease; }
  .header--user.open .dropdown {
    opacity: 1;
    visibility: visible; }

.dropdown {
  position: absolute;
  top: 100%;
  right: 10px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(13, 23, 57, 0.25);
  width: 220px;
  margin-top: -4px; }
  .dropdown:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #FFF transparent; }

.dropdown li:not(:first-child) {
  border-top: 1px solid #e6e6e6; }

.dropdown a {
  line-height: 1.2;
  display: block;
  padding: 10px;
  padding: 0.75rem;
  color: #3a4168;
  text-decoration: none; }
  .dropdown a:hover, .dropdown a:focus {
    color: #ff357f; }

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(71, 128, 168, 0.2);
  margin-right: 10px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 10px;
  background-color: #FFF;
  border: 1px solid #FFF; }

.user-image img {
  width: 38px;
  height: 38px;
  object-fit: cover; }

/* Menu Appearance */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #FFF;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }
  .pushy li {
    display: block;
    color: #27282d;
    padding: 20px;
    padding: 1.25rem;
    text-decoration: none;
    outline: 0;
    font-size: 16px;
    font-size: 1rem;
    border-bottom: 1px solid #e6e6e6; }
  .pushy a:hover {
    background-color: #0493D8; }
  .pushy ul:first-child {
    margin-top: 10px; }
  .pushy.pushy-left {
    left: 0; }
  .pushy.pushy-right {
    right: 0; }

/* Menu Movement */
.pushy-left {
  padding-top: 60px;
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0); }

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0); }

.pushy-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0); }

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0); }

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.65s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  visibility: visible; }

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Icon */ }
  .pushy-submenu ul {
    padding-left: 15px;
    transition: max-height 00.65s ease-in-out; }
    .pushy-submenu ul .pushy-link {
      transition: opacity 00.65s ease-in-out; }
  .pushy-submenu > a {
    position: relative; }
  .pushy-submenu > a::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform 00.65s; }

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden; }

.pushy-submenu-closed .pushy-link {
  opacity: 0; }

.pushy-submenu-open {
  /* Submenu Icon */ }
  .pushy-submenu-open ul {
    max-height: 1000px; }
  .pushy-submenu-open .pushy-link {
    opacity: 1; }
  .pushy-submenu-open a::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg); }

.no-csstransforms3d .pushy-submenu-closed ul {
  max-height: none;
  display: none; }

.pushy .close {
  cursor: pointer;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  width: 72px;
  height: 72px;
  padding: 0;
  background: #3655CE; }

.pushy .close:focus {
  outline: none;
  box-shadow: 0px 0px 5px #0493D8; }

.pushy .close span.one {
  background-color: #FFFFFF;
  height: 16px;
  width: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -1px; }

.pushy .close span.two {
  background-color: #FFFFFF;
  height: 2px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -8px; }

/* Elements */
.button {
  display: block;
  padding: 16px;
  padding: 1rem;
  border: none;
  color: #FFF;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  background: linear-gradient(to right, #3655CE 0%, #3C3EB3 100%); }

.button--schedule {
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  background: linear-gradient(45deg, #576fe6 0%, #9844b7 50%, #ff357f 100%);
  border: 2px solid #FFF;
  padding: 20px;
  padding: 1.25rem;
  width: 100%; }
  .button--schedule:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50px;
    z-index: -1;
    filter: blur(12px);
    background-image: linear-gradient(90deg, #576fe6, transparent);
    opacity: 0.5; }
  .button--schedule:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50px;
    z-index: -1;
    filter: blur(12px);
    background-image: linear-gradient(90deg, transparent, #ff357f);
    opacity: 0.5; }

.button--toggle {
  width: 50%;
  background: #e4e7ea;
  color: #3a4168; }
  .button--toggle.first {
    border-radius: 8px 0px 0px 8px; }
  .button--toggle.second {
    border-radius: 0px 8px 8px 0px; }
  .button--toggle.active {
    background: #0046ad;
    color: #FFF; }

.navigation-bar {
  height: 40px; }
  @supports (display: flex) {
    .navigation-bar {
      display: flex;
      justify-content: space-between; } }

.navigation-bar a:first-child {
  border-radius: 10px 0 0 10px; }

.navigation-bar a:last-child {
  border-radius: 0 10px 10px 0; }

.navigation-bar a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  padding: 0.75rem;
  font-size: 12px;
  font-size: 0.75rem;
  background-color: rgba(71, 128, 168, 0.1);
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center; }

.navigation-bar a.active {
  background-color: #0046ad;
  color: #FFF;
  box-shadow: none; }

/* Calendar map toggle */
/* Map breadcrumbs */
.content {
  padding: 30px;
  padding: 1.875rem;
  background-color: #FFF;
  box-shadow: 0px 0px 20px rgba(82, 108, 203, 0.15);
  border-radius: 2px; }

hr {
  border: none;
  border-top: 1px solid #ececec; }

/* */
label {
  color: currentColor;
  display: block;
  cursor: pointer; }

label span {
  float: right;
  opacity: 0.5; }

ul.optionset li {
  list-style: none;
  margin: 16px 0;
  margin: 1rem 0;
  position: relative; }

.field.checkbox {
  position: relative; }

ul label,
.contact-options label,
.field.checkbox label {
  float: none;
  text-align: left;
  padding: 0 0 0 28px;
  padding: 0 0 0 1.75rem; }

input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  width: 20px;
  height: 20px;
  top: -2px;
  left: 0;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box; }

/* Fake Box */
.radio-field label::before,
.checkbox-field label::before,
.field.checkbox label::before,
ul.optionset li label::before,
input[type="radio"],
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  top: -2px;
  left: 0;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box; }

.radio-field label::before,
.checkbox-field label::before,
.field.checkbox label::before,
ul.optionset li label::before {
  content: '';
  background: #FFF;
  border: 2px solid #052a4e;
  transition: opacity 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  border-radius: 50%; }

.field.checkbox label::before,
ul.optionset.checkboxset li label::before {
  border-radius: 3px; }

/* Sub */
ul.sub {
  padding-left: 20px;
  padding-left: 1.25rem;
  display: none; }
  ul.sub.active {
    display: block; }
  ul.sub li label {
    font-size: 12px;
    font-size: 0.75rem; }

/* Tick or Marker */
input[type="checkbox"] + label svg,
input[type="radio"] + label svg {
  width: 16px;
  height: 16px;
  top: -2px;
  left: 2px;
  margin-top: 2px;
  position: absolute;
  cursor: pointer; }

input[type="checkbox"] + label svg {
  fill: none;
  stroke: #052a4e;
  stroke-width: 1.5px;
  stroke-dasharray: 11.24180793762207px;
  stroke-dashoffset: 11.24180793762207px;
  transition: 0.5s stroke-dashoffset ease; }

input[type="radio"] + label svg {
  fill: #052a4e;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s transform ease, 0.5s opacity ease; }

input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before,
input[type="checkbox"]:hover + label::before,
input[type="radio"]:hover + label::before {
  border-color: #29aae1;
  box-shadow: 0px 0px 3px rgba(41, 170, 225, 0.5); }

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  border-color: #00af3f; }

input[type="checkbox"]:checked + label svg {
  stroke-dashoffset: 0px; }

input[type="radio"]:checked + label svg {
  transform: scale(1);
  opacity: 1; }

/* Fields */
form {
  display: flex;
  flex-wrap: wrap; }

form > * {
  width: 100%; }

form .field {
  width: 100%;
  margin: 12px 0px;
  margin: 0.75rem 0rem; }
  form .field.half {
    width: 48.5%;
    margin-right: 3%; }
    form .field.half.last {
      margin-right: 0; }
  form .field.third {
    width: 31.333333%;
    margin-right: 3%; }
    form .field.third.last {
      margin-right: 0; }

/* Field Labels */
label {
  font-size: 14px;
  font-size: 0.875rem;
  color: #222222;
  display: block;
  line-height: 1.2;
  font-weight: bold;
  padding: 0 0 10px 0;
  padding: 0 0 0.75rem 0; }

/* Inputs */
/* Inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
  width: 100%;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 20px;
  line-height: 1.25rem;
  border: 1px solid #9FAFBA;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 12px;
  padding: 0.75rem;
  margin: 0;
  transition: border 0.5s;
  appearance: none;
  /* Placeholder */ }
  input[type="text"]:disabled,
  input[type="password"]:disabled,
  input[type="email"]:disabled,
  input[type="tel"]:disabled,
  input[type="file"]:disabled,
  textarea:disabled {
    background-color: #E5EBEF;
    opacity: 0.5; }
  input[type="text"].required,
  input[type="password"].required,
  input[type="email"].required,
  input[type="tel"].required,
  input[type="file"].required,
  textarea.required {
    border-color: #D34151;
    box-shadow: 0 0 2px rgba(229, 128, 139, 0.5); }
  input[type="text"].valid,
  input[type="password"].valid,
  input[type="email"].valid,
  input[type="tel"].valid,
  input[type="file"].valid,
  textarea.valid {
    border-color: #53C74B;
    box-shadow: 0 0 2px rgba(128, 242, 115, 0.5);
    color: darkgreen; }
  input[type="text"].valid:focus, input[type="text"].required:focus, input[type="text"]:focus,
  input[type="password"].valid:focus,
  input[type="password"].required:focus,
  input[type="password"]:focus,
  input[type="email"].valid:focus,
  input[type="email"].required:focus,
  input[type="email"]:focus,
  input[type="tel"].valid:focus,
  input[type="tel"].required:focus,
  input[type="tel"]:focus,
  input[type="file"].valid:focus,
  input[type="file"].required:focus,
  input[type="file"]:focus,
  textarea.valid:focus,
  textarea.required:focus,
  textarea:focus {
    outline: none;
    border: 1px solid #23b7fb;
    box-shadow: 0 0 3px #62ceff; }
  input[type="text"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="file"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #BECAD2; }
  input[type="text"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="file"]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #BECAD2; }
  input[type="text"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="file"]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #BECAD2; }
  input[type="text"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="file"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #BECAD2; }

textarea {
  overflow: auto;
  resize: vertical; }

/* Select fields */
select {
  color: #222222;
  height: auto;
  border-radius: 3px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 20px;
  line-height: 1.25rem;
  outline: none;
  width: 100%;
  padding: 12px;
  padding: 0.75rem;
  margin: 0;
  position: relative;
  border: 1px solid #9FAFBA;
  box-shadow: 0px 1px 3px rgba(199, 201, 218, 0.15);
  background: linear-gradient(to bottom, #f0f2f4 0%, #e7ebee 100%); }
  select:hover {
    background: linear-gradient(to bottom, #f1f3f5 0%, #e9ecef 100%); }
  select.valid:focus, select.required:focus, select:focus {
    outline: none;
    border: 1px solid #23b7fb;
    box-shadow: 0 0 3px rgba(98, 206, 255, 0.5); }

h1 {
  line-height: 1.2; }

h2 {
  color: #142252;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0; }

h3 {
  color: #3C3EB3;
  font-weight: bold; }

p {
  margin-top: 10px;
  margin-top: 0.75rem;
  line-height: 1.5; }

* {
  box-sizing: border-box;
  font-family: 'FF Meta', 'Open Sans', sans-serif; }

body {
  font-family: 'FF Meta', 'Open Sans', sans-serif; }

.container {
  overflow: hidden; }

.App {
  text-align: center; }

.App-intro {
  font-size: large; }

/* Main */
.main {
  height: 100vh;
  height: calc(100vh - 80px);
  width: 80%;
  width: calc(100% - 320px);
  float: left;
  background: #182656;
  overflow-y: scroll; }
  .main::-webkit-scrollbar-track {
    background-color: #17265a; }
  .main::-webkit-scrollbar {
    width: 10px;
    background-color: #17265a; }
  .main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF; }

.main--area {
  padding: 32px 40px;
  padding: 2rem 2.5rem;
  width: 100%; }

/* Fading */
.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }
