@import '_reset';

$header-height: 72px;
$sidebar-width: 320px;

/* Components */
@import 'components/_calendar';
@import 'components/_map';

@import 'components/_sidebar';
@import 'components/_header';
@import 'components/_offcanvas';

/* Elements */
@import 'elements/_button';
@import 'elements/_navigation-bar';
@import 'elements/_form';
@import 'elements/_typography';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

/* Main */
.main {
  height: 100vh;
  height: calc(100vh - #{$header-height});
  width: 80%;
  width: calc(100% - #{$sidebar-width});
  float: left;
  background: #f1f3f5;
}

.main--area {
  padding: 20px 40px;
  padding: 1.25rem 2.5rem;
  width: 100%;
}

/* Fading */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
