.content {
  padding: 30px;
  padding: 1.875rem;
  background-color: #FFF;
  box-shadow: 0px 0px 20px rgba(82, 108, 203, 0.15);
  border-radius: 2px;
}

hr {
  border: none;
  border-top: 1px solid #ececec;
}

/* */
label {
  color: currentColor;
  display: block;
  cursor: pointer;
}

ul.optionset li {
  list-style: none;
	margin: 20px 0;
  margin: 1.25rem 0;
  position: relative;
}

.field.checkbox {
  position: relative;
}

ul label,
.contact-options label,
.field.checkbox label {
	float: none;
	text-align: left;
	padding: 0 0 0 30px;
}

input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  margin-top: -10px;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
}

/* Fake Box */
.radio-field label::before,
.checkbox-field label::before,
.field.checkbox label::before,
ul.optionset li label::before,
input[type="radio"],
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  margin-top: -10px;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
}

.radio-field label::before,
.checkbox-field label::before,
.field.checkbox label::before,
ul.optionset li label::before {
  content: '';
  background: #FFF;
  border: 2px solid #052a4e;
  transition: opacity 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  border-radius: 50%;
}

.field.checkbox label::before,
ul.optionset.checkboxset li label::before {
  border-radius: 3px;
}

/* Tick or Marker */
input[type="checkbox"] + label svg,
input[type="radio"] + label svg {
  width: 16px;
  height: 16px;
  top: 50%;
  left: 2px;
  margin-top: -8px;
  position: absolute;
  cursor: pointer;
}

input[type="checkbox"] + label svg {
  fill: none;
  stroke: #052a4e;
  stroke-width: 1.5px;
  stroke-dasharray: 11.24180793762207px;
  stroke-dashoffset: 11.24180793762207px;
  transition: 0.5s stroke-dashoffset ease;
}

input[type="radio"] + label svg {
  fill: #052a4e;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.5s transform ease, 0.5s opacity ease;
}

input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before,
input[type="checkbox"]:hover + label::before,
input[type="radio"]:hover + label::before {
  border-color: #29aae1;
  box-shadow: 0px 0px 3px rgba(#29aae1,0.5);
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  border-color: #2ec72e;
}

input[type="checkbox"]:checked + label svg {
  stroke-dashoffset: 0px;
}

input[type="radio"]:checked + label svg {
  transform: scale(1);
  opacity: 1;
}

/* Fields */
form {
  display: flex;
  flex-wrap: wrap;
}

form > * {
  width: 100%;
}

form .field {
    width: 100%;
    margin: 12px 0px;
    margin: 0.75rem 0rem;

    &.half {
        width: 48.5%;
        margin-right: 3%;

        &.last {
            margin-right: 0;
        }
    }

    &.third {
        width: 31.333333%;
        margin-right: 3%;

        &.last {
            margin-right: 0;
        }
    }
}

/* Field Labels */
label {
  font-size: 14px;
  font-size: 0.875rem;
  color: #222222;
  display: block;
  line-height: 1.2;
  font-weight: bold;
  padding: 0 0 10px 0;
  padding: 0 0 0.75rem 0;
}

/* Inputs */
/* Inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
    width: 100%;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 20px;
    line-height: 1.25rem;
    border: 1px solid #9FAFBA;
    border-radius: 4px;
    background-clip: padding-box;
    padding: 12px;
    padding: 0.75rem;
    margin: 0;
    transition: border 0.5s;
    appearance: none;

    &:disabled {
        background-color: #E5EBEF;
        opacity: 0.5;
    }

    &.required {
        border-color: #D34151;
        box-shadow: 0 0 2px rgba(229, 128, 139, 0.5);
    }

    &.valid {
        border-color: #53C74B;
        box-shadow: 0 0 2px rgba(128, 242, 115, 0.5);
        color: darkgreen;
    }

    &.valid:focus,
    &.required:focus,
    &:focus {
        outline: none;
        border: 1px solid #23b7fb;
        box-shadow: 0 0 3px rgb(98, 206, 255);
    }

    /* Placeholder */
    &::-webkit-input-placeholder { color: #BECAD2; }
    &:-moz-placeholder { color: #BECAD2; }
    &::-moz-placeholder { color: #BECAD2; }
    &:-ms-input-placeholder { color: #BECAD2; }
}

textarea {
    overflow: auto;
    resize: vertical;
}

/* Select fields */
select {
    color: #222222;
    height: auto;
    border-radius: 3px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 20px;
    line-height: 1.25rem;
    outline: none;
    width: 100%;
    padding: 12px;
    padding: 0.75rem;
    margin: 0;
    position: relative;
    border: 1px solid #9FAFBA;
    box-shadow: 0px 1px 3px rgba(199, 201, 218, 0.15);
    background: linear-gradient(to bottom, rgba(240,242,244,1) 0%,rgba(231,235,238,1) 100%);

    &:hover {
        background: linear-gradient(to bottom, rgba(241,243,245,1) 0%,rgba(233,236,239,1) 100%);
    }

    &.valid:focus,
    &.required:focus,
    &:focus {
        outline: none;
        border: 1px solid #23b7fb;
        box-shadow: 0 0 3px rgba(98, 206, 255, 0.5);
    }
}
