.rbc-event {
  cursor: pointer;
  padding: $event-padding;
  background-color: $event-bg;
  border-radius: $event-border-radius;
  color: $event-color;
  font-size: 14px;
  font-size: 0.85rem;

  &.rbc-selected {
    background-color: darken($event-bg, 10%);
  }

  &.typea-class {
    background-color: $wspt-colour1;
    background: linear-gradient(to bottom, $wspt-colour1 0%, darken($wspt-colour1,5%) 100%);

    &:hover {
      background: $wspt-colour1;
    }
  }
  &.typeb-class {
    background-color: $wspt-colour6;
    background: linear-gradient(to bottom, $wspt-colour6 0%, darken($wspt-colour6,5%) 100%);

    &:hover {
      background: $wspt-colour6;
    }
  }
  &.typec-class {
    background-color: $wspt-colour4;
    background: linear-gradient(to bottom, $wspt-colour4 0%, darken($wspt-colour4,5%) 100%);

    &:hover {
      background: $wspt-colour4;
    }
  }
  &.typed-class {
    background-color: $wspt-colour9;
    background: linear-gradient(to bottom, $wspt-colour9 0%, darken($wspt-colour9,5%) 100%);

    &:hover {
      background: $wspt-colour9;
    }
  }
}

.rbc-event-label {
  // @extend(.rbc-ellipsis);
  font-size: 80%;
}

.rbc-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51,51,51,.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
