
$active-background: $wspt-colour7;
$active-border: darken($btn-border, 12%);

.rbc-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;

  .rbc-toolbar-label {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-size: 1.125rem;
  }

  & button {
    color: $btn-color;
    display: inline-block;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    // letter-spacing: 0.05em;
    text-align: center;
    vertical-align: middle;
    background: rgba(71, 128, 168, 0.1);
    border: none;
    background-image: none;
    padding: 8px 16px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    font-size: 0.875rem;
    outline: none;

    &:active,
    &.rbc-active {
      background-image: none;
      background-color: $active-background;
      color: #FFF;

      &:hover,
      &:focus {
        background-color: $active-background;
        color: #FFF;
      }
    }

    &:focus {
      background-color: $active-background;
      color: #FFF;
    }

    &:hover {
      background-color: $active-background;
      color: #FFF;
    }
  }
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;

  > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rbc-rtl & > button:first-child:not(:last-child) {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rbc-rtl & > button:last-child:not(:first-child) {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  button + button {
    margin-left: 1px;
  }

  .rbc-rtl & button + button {
    margin-left: 0;
  }

  & + &,
  & + button {
    margin-left: 10px;
  }
}
