.header {
  position: relative;
  background-color: #282c42;
  height: $header-height;
  color: white;
  width: 100%;

  @supports (display: flex) {
    display: flex;
  }
}

/* Logo */
.header--logo {
  width: 20%;
  width: calc(#{$sidebar-width});
  padding: 10px;
  padding: 0.75rem;
  background-color: #3a4168;
}

.header--logo img {
  display: block;
  max-height: $header-height - 20px;
  margin: 0 auto;
}

.header--controls {
  @supports (display: flex) {
    margin-left: auto;
  }
}

/* Hamburger Menu Toggle */
.menu-btn {
  width: $header-height;
  height: $header-height;
  border: none;
  background: #3a4168;
}

/* User Dropdown */
