.header {
  position: relative;
  background-color: #3C3EB3;
  background: linear-gradient(to top, #3655CE 0%, #3C3EB3 100%);
  height: $header-height;
  color: white;
  width: 100%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 20px rgba(#0d1739, 0.35);

  @supports (display: flex) {
    display: flex;
  }
}

/* Logo */
.header--logo {
  width: 20%;
  width: calc(#{$sidebar-width});
  padding: 16px;
  padding: 1rem;
}

.header--logo .tag {
  font-size: 14px;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;
}

.header--logo img {
  display: none;
  max-height: $header-height - 32px;
  width: auto;
  // margin: 0 auto;
}

.header--controls {
}

/* Hamburger Menu Toggle */
.menu-btn {
  width: $header-height;
  height: $header-height;
  border: none;
  background: #3655CE;
  cursor: pointer;
  position: relative;

  svg {
    display: block;
    width: $header-height / 3;
    height: $header-height / 3;
    stroke: #FFF;
    stroke-width: 0.75px;
    stroke-linecap: round;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$header-height / 6;
    margin-left: -$header-height / 6;
  }
}

/* User Dropdown */
.header--user {
  padding: $header-height / 4;
  line-height: $header-height / 2;
  padding-left: ($header-height / 2) + 20px;
  padding-right: ($header-height / 2);
  position: relative;
  color: #FFF;
  font-size: 14px;
  font-size: 0.875rem;
  cursor: pointer;

  &:hover {
    &:after {
      border-top-color: #FFF;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: rgba(255,255,255,0.5) transparent transparent transparent;
  }

  @supports (display: flex) {
    margin-left: auto;
  }

  .dropdown {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s opacity ease;
  }
  &.open .dropdown {
    opacity: 1;
    visibility: visible;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 10px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(13, 23, 57, 0.25);
  width: 220px;
  margin-top: -4px;

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #FFF transparent;
  }
}

.dropdown li:not(:first-child) {
  border-top: 1px solid #e6e6e6;
}

.dropdown a {
  line-height: 1.2;
  display: block;
  padding: 10px;
  padding: 0.75rem;
  color: #3a4168;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #ff357f;
  }
}

.user-image {
  width: $header-height / 2;
  height: $header-height / 2;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(71, 128, 168, 0.2);
  margin-right: 10px;
  position: absolute;
  top: 50%;
  margin-top: -$header-height / 4;
  left: 10px;
  background-color: #FFF;
  border: 1px solid #FFF;
}

.user-image img {
  width: $header-height / 2 - 2px;
  height: $header-height / 2 - 2px;
  object-fit: cover;
}
