.map {
  height: calc(100vh - #{$header-height} - 40px);
}

.map-area {
  height: calc(100vh - #{$header-height} - 40px);

  @supports (display: flex) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.map-area svg {
  display: block;
  height: calc(100vh - #{$header-height} - 40px);
  width: 100%;
}

.svg--area {
  fill: $wspt-colour9;
  stroke: desaturate(lighten($wspt-colour9,60%),10%);
  stroke-width: 2px;
  stroke-linecap: round;
  cursor: pointer;
}

.map-area svg g:hover .svg--area {
  stroke: #FFFFFF;
  stroke-width: 3px;
}

.map-area text {
  fill: #FFF;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s opacity ease;
}

.map-area svg g:hover text {
  opacity: 1;
}

.svg--shadow {
  fill: rgba(#000,0.5);
  filter: url(#glow);
}

/* Fade In Areas */
$timing: 0.1s;
.map-area svg g {
  animation: fadeAreaIn 1s backwards ease;

  &:nth-child(2) {
    animation-delay: 1 * $timing;
  }
  &:nth-child(3) {
    animation-delay: 2 * $timing;
  }
  &:nth-child(4) {
    animation-delay: 3 * $timing;
  }
  &:nth-child(5) {
    animation-delay: 4 * $timing;
  }
  &:nth-child(6) {
    animation-delay: 5 * $timing;
  }
  &:nth-child(7) {
    animation-delay: 6 * $timing;
  }
  &:nth-child(8) {
    animation-delay: 7 * $timing;
  }
  &:nth-child(9) {
    animation-delay: 8 * $timing;
  }
  &:nth-child(10) {
    animation-delay: 9 * $timing;
  }
  &:nth-child(11) {
    animation-delay: 10 * $timing;
  }
}

@keyframes fadeAreaIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
