.sidebar {
  height: 100vh;
  height: calc(100vh - #{$header-height});
  width: 20%;
  width: calc(#{$sidebar-width});
  float: left;
  box-shadow: 0px 0px 20px rgba(#526ccb,0.15);
  overflow: hidden;
  text-align: left;
  position: relative;
  color: #3a4168;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
  }
}

.sidebar--area {
  padding: 20px;
  padding: 1.25rem;
  width: 100%;
}

/* Sidebar Top */
.sidebar--top {
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(#526ccb,0.15);

  @supports (display: flex) {
  }
}

/* Sidebar Middle */
.sidebar--main {
  @supports (display: flex) {
  }
}

.sidebar--main h1 {
  font-weight: bold;
  font-size: 32px;
  font-size: 2rem;
}

.sidebar--main ul {
  margin-bottom: 20px;
  margin-bottom: 1.5rem;
}

.sidebar--main h3:first-of-type {
  margin-top: 0;
}

/* Sidebar Bottom */
.sidebar--bottom {
  background: #3a4168;
  box-shadow: 0px 0px 20px rgba(#4780a8,0.125);

  @supports (display: flex) {
    margin-top: auto;
  }
}

/* Filters */
.sidebar--filters {

}

/* Map Sidebar */
.sidebar--map {

}

.sidebar--map li {
  font-size: 12px;
  font-size: 0.75rem;
  margin: 10px 0;
  margin: 0.75rem 0;
}

.sidebar--map li span {
  float: right;
  opacity: 0.5;
}
