.sidebar {
  height: 100vh;
  height: calc(100vh - #{$header-height});
  width: 20%;
  width: calc(#{$sidebar-width});
  float: left;
  box-shadow: 0px 0px 20px rgba(#0d1739,0.75);
  overflow: hidden;
  text-align: left;
  position: relative;
  color: #3a4168;

  &.with-top {
    padding-top: 102px;
  }
  &.with-bottom {
    padding-bottom: 88px;
  }
}

.sidebar--area {
  padding: 20px;
  padding: 1.25rem;
  width: 100%;
}

/* Sidebar Top */
.sidebar--top {
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(#526ccb,0.15);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @supports (display: flex) {
  }
}

/* Sidebar Middle */
.sidebar--main {
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
  	background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
  	width: 10px;
  	background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
  	border-radius: 6px;
  	background-color: #0074cd;
  }
}

.sidebar--main h1 {
  background: -webkit-linear-gradient(45deg, #576fe6 0%, #9844b7 50%, #ff357f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-weight: bold;
  font-size: 32px;
  font-size: 2rem;
}

.sidebar--main ul {
  margin-bottom: 20px;
  margin-bottom: 1.5rem;
}

.sidebar--main h3:first-of-type {
  margin-top: 0;
}

/* Sidebar Bottom */
.sidebar--bottom {
  background-color: #FFF;
  box-shadow: 0px 0px 20px rgba(#526ccb,0.35);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  @supports (display: flex) {
    margin-top: auto;
    display: flex;
  }
}

/* Filters */
.sidebar--filters {

}

/* Map Sidebar */
.sidebar--map {

}

.sidebar--map li {
  font-size: 12px;
  font-size: 0.75rem;
  margin: 10px 0;
  margin: 0.75rem 0;
}

.sidebar--map li span {
  float: right;
  opacity: 0.5;
}
